include LICENSE CHANGES README.md requirements.txt

recursive-include * data
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.orig
recursive-exclude * node_modules
recursive-exclude * _release_data
recursive-exclude * visual_interface